@import "variables";

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

.app {
  header {
    margin-bottom: 10px;
  }

  .container {
    background-color: rgb(79, 84, 87);
    margin-top: 56px;
    margin-bottom: 0px;
  }

  footer {
    margin-bottom: 0;

    ul {
      list-style-type: none;
    }

    a {
      text-decoration: none;
      color: white;
    }

    h2 {
      color: white;
    }

    span {
      color: #ffc107;
    }

    .container {
      color: white;
      display: inline-flex;
      flex-direction: row;
      align-content: center;
      justify-content: flex-start;

      .social_info {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
      }
    }

    .copyright {
      color: wheat;
      display: flex;
      justify-content: center;
    }
  }
}

h1 {
  color: $red-light;
}

h2 {
  color: #f3c736;
}
