<div class="footer bg-dark">
  <div class="container bg-dark">
    <div class="col-md-4">
      <h2>Our <span>Links</span> </h2>
      <ul>
        <li><a href="homepage">Home</a></li>
        <li><a href="aboutUs">News</a></li>
        <li><a
            href="https://www.facebook.com/profile.php?id=100005335952859"
          >LOZI's information</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <h2>Contact <span>Us</span></h2>
      <ul class="con_inner_text">
        <li><span class="fa fa-map-marker" aria-hidden="true"></span>THPT Nguyen
          Huu Huan, Thu Duc, Ho Chi Minh City.</li>
        <li><span class="fa fa-phone" aria-hidden="true"></span>
          09 67 23 49 07</li>
      </ul>

      <ul class="social_info">
        <li>
          <a
            href="https://www.facebook.com/w.acoustic.nhh/"
            class="facebook-link"
          ><i class="bi bi-facebook"></i></a>
        </li>
        <li>
          <a href="https://twitter.com/johnachille_nhl" class="twitter-link"><i
              class="bi bi-twitter"
            ></i></a>
        </li>
        <li><a
            href="https://www.instagram.com/jaybee_nhl/"
            class="instagram-link"
          ><i class="bi bi-instagram"></i></a></li>
        <li><a href="mailto:wacoustic2019@gmail.com" class="gmail-link"><i
              class="bi bi-envelope"
            ></i></a>
        </li>
      </ul>
    </div>

    <div class="col-md-7"> </div>
  </div>
  <p class="copyright">© 2016 WAcoustic | Dev & Design by LOZI</p>
</div>
<!-- //footer -->