<h2>Search bar example</h2>

<div class="searchInput">
    <form class="d-flex mt-3" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-dark" type="submit">Search</button>
    </form>
</div>